<!DOCTYPE html>
<html lang= "en">
<head>
	<meta charset= "UFT-8" name= "viewport" content= "width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
</head>

<body>
	{{{body}}}
</body>
</html> 
